@charset "UTF-8";

body{
    background-color: rgb(198, 198, 245);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    color: blue;
    text-align: left;
}

h1#seila{
    text-align: center;
    color: rgba(78, 78, 255, 0.658);
}

h2{
    color: rgb(5, 5, 97);
}

.seila2{
    color: rgb(255, 238, 0);
}
.seila3{
    color: rgb(255, 105, 19);
}
.seila4{
    color: rgb(253, 0, 0);
}
